
  .toolbar-size{
        
        width: 100%;
        height: 8vh;
  }
  .search-form{
   padding-top: 2vh;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 1.7vh;
  }
  .search-form-input{
    width: 30vw;
  }
  .button-padding{
    float:right;
    margin-right: auto;
  }
 