<mat-grid-list cols="5" rowHeight="17vh" class="grid-list">
    <mat-grid-tile >
        <img class="photo-class" src={{item.srcPhoto}} alt="Photo">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" class="text-class">
        
        <div class="body-text">
            <div style="color: black; font-size: large;" >{{item.productName}}</div>
            <div>{{item.productDescription}} </div>
            
            <div id="button">
               <button mat-icon-button (click)="deleteFromCart(item)">
            <mat-icon>delete</mat-icon>
        </button> 
            </div>
        </div>
        
    </mat-grid-tile>
    <mat-grid-tile class="last-grid">
        <mat-form-field class="amount-class" >
            <mat-label>Ilość</mat-label>
            <input matInput type="number" value={{item.orderItemQuantity}}  min="1">
            <span matSuffix>szt</span>
        </mat-form-field>
        <span class="prize-class">
            Cena: {{item.productPrize | number:'1.2-2'}} zł
        </span>
    </mat-grid-tile>
  </mat-grid-list> 
