.confirm{
    height: 30%;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 50%;
}
.place{
    padding-top: 10vh;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content:center space-around;
    align-items: center;
}