<mat-grid-list cols="6" rowHeight="1:1.5" class="productlist">
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
    <mat-grid-tile><app-product-offer></app-product-offer></mat-grid-tile>
  </mat-grid-list>