.photo-gallery {
  width: 100%;
  height: 80%;
}

.gallery {

  background-color: transparent;
  max-width: 100%;
  border-radius: 3%;
  max-height: 70%;
}
.gallery-content{
  padding-top: 15vh;
}
.card {
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.title-card {
    text-align: center;
    font-weight: bold;
    min-height: 7vh;
    max-height: 15vh;
    word-break: normal;
    line-height: 28px;
  }
  
  .text-card {
    margin-top: 4%;
    font-size: larger;
    height: 60%;
    word-break: normal;
  }
  
  .size-amount {
    width: 100%;
  }
  
  .prize {
    font-size:x-large;
    font-weight: bold;
  }
  
  .size-amount {
    margin: auto;
  }
  
  .description {
    height: 60%;
  }
  
  .failure-info {
    background-color: red;
    font-size: normal;
    color: white;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
  }
  table {
    width: 100%;
  }
  .mat-column-demo-position {
    
    border-right: 10px solid black;
   
  }
 
  .mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
  
  