<mat-grid-list *ngIf="comlete" cols="2" rowHeight="2:1" class="grid-list" >
  <mat-grid-tile rowspan="2" colspan="1">
    <mat-card class="photo-gallery"><gallery class="gallery"  [items]="images"></gallery></mat-card>
  </mat-grid-tile>
  <mat-grid-tile  rowspan="2" colspan="1">
    <mat-card  class="card">
      <mat-card-title class="title-card">{{productDetails.productName}}</mat-card-title>
      <mat-card-content class="text-card">{{productDetails.productDescription}}</mat-card-content>
      <mat-card-content class="text-card">{{productDetails.productDetails}}</mat-card-content>
      <mat-card-content class="prize">Cena: {{productDetails.productPrize}}  zł</mat-card-content>
      
      <mat-card-content class="size-amount">
        <mat-form-field class="size-amount" >
          <mat-label>Ilość (dostępnych: {{productDetails.quantityProduct}} )</mat-label>
          <input  [(ngModel)]="amount" name="amount" matInput  type="number"   min="0">
        </mat-form-field>
      </mat-card-content>
      <mat-card-content class="size-amount">
        <button class="size-amount"  color="primary" mat-flat-button (click)="addToCart()" >Dodaj do koszyka</button>
      </mat-card-content>
      <mat-card class="failure-info" *ngIf="errorMessage">
        {{errorMessage}}
      </mat-card>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>