<div class="loading" *ngIf="!categoryDownload; else elseBlock">
<mat-spinner ></mat-spinner>
</div>
<ng-template #elseBlock>
<mat-sidenav-container #elseBlock class='sidenav' autosize >
  <mat-sidenav #sidenav mode="over">
    <app-search-component *ngIf="isWidth()"></app-search-component>
    <div class="sidenav-content">
    <mat-card (click)="onCategory(categori)" class="sidenav-card" *ngFor="let categori of categories"  >
      {{categori.categoryName}}
    </mat-card>
    </div>
  </mat-sidenav>
  <mat-sidenav-content >
   <!--<app-product-page [categoryId]="categoryId"></app-product-page> <app-verfication></app-verfication>>-->
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</ng-template>