.sidenav{
    width: available;
     height: 92vh;
}
.sidenav-content{
    
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start;
}
.sidenav-card{
    font-size: large;
    width:100%;
    height: max-content;
}
.sidenav-card:hover{
    background-color:#3f51b54b;
}
.loading{
    display: flex; 
  justify-content: center; 
  align-items: center;
  height: calc(100vh - 20px);
}
mat-sidenav:opened {
    width: 300px; /* lub inna wartość */
 }