.card{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    font-size: xx-large;
    font-weight: 600;
}
.options-picker{
    padding-top: 30px;
    padding-left: 30px;
    width: 30vw;
}
table {
    width: 100%;
  }
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }