.card{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    font-size: xx-large;
    font-weight: 600;
}
.options-picker{
    padding-top: 30px;
    padding-left: 30px;
    width: 30vw;
}