<mat-card class="card">
    <mat-card-header class="header">Zamówienia</mat-card-header>
    <mat-card-content >
        <div class="options-picker">
        <mat-form-field appearance="fill" style="width: 20vw;">
        <mat-label>Wybierz date</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let option of options" value="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    
</mat-card>
