.rejestr-card{
   
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start;
}
.button-100{
    width: 100%;
}
.text-reje{
    width: 100%;
    text-align: center;
    font-size: x-large;
    margin-bottom: 3%;
}
.button-rej{
    width: 80%  ;
    margin-left: 10%
}
.failure-info {
    background-color: red;
    font-size: normal;
    color: white;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
  }
  .full-card{
    width: 40%; margin: auto;margin-top: 2%
  }
  @media screen and (max-width: 800px){
    .full-card{
        width: 90%;
    }
    
}
