<mat-card style=" width: 40%; margin: auto;margin-top: 2%;">
    <mat-card-header class="text-reje">Rejestracja</mat-card-header>
    <mat-card-content class="rejestr-card">
    <mat-tab-group mat-align-tabs="start" style="width: 100%;">
        <mat-tab label="Osoba prywatna">
            
        </mat-tab>
        <mat-tab label="Firma" >
            <div class="rejestr-card">
            <mat-form-field appearance="outline" class="button-100">
            
                <mat-label>Nazwa Firmy</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline" class="button-100">
            
                <mat-label>Nip</mat-label>
                <input matInput>
              </mat-form-field>
              </div>
        </mat-tab>
      </mat-tab-group>
      <mat-form-field appearance="outline" class="button-100">
            
        <mat-label>Imie</mat-label>
        <input matInput>
      </mat-form-field>
      <div style="width:100%">
      <mat-form-field appearance="outline" style="width:70%; margin-right: 2%;">
            
        <mat-label>Ulica</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:28%">
            
        <mat-label>Nr</mat-label>
        <input matInput>
      </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="button-100">
            
        <mat-label>Nr mieszkania</mat-label>
        <input matInput>
      </mat-form-field>
      <div style="width:100%">
      <mat-form-field appearance="outline" style="width:30%; margin-right: 2%;">
            
        <mat-label>Kod pocztowy</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:68%">
            
        <mat-label>Miejscowość</mat-label>
        <input matInput>
      </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="button-100">
            
        <mat-label>Numer telefonu</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="button-100">
            
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="button-100">
            
        <mat-label>Login</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="button-100">
            
        <mat-label>Hasło</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="button-100">
            
        <mat-label>Powtórz hasło</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="primary" class="button-rej" >Zarejestruj</button>
      
      </mat-card-content>
</mat-card>
