
<mat-card class="login-side" >
    <div class="login-card" >
    <mat-card-title style="margin-bottom:4%">Witaj</mat-card-title>
    <mat-card-content style="height: 9vh;">
        <p style="font-weight: bold; font-size:larger">Login</p>
        <mat-form-field appearance="outline">
            
            <mat-label>Login</mat-label>
            <input matInput>
            <mat-icon matSuffix>question_mark</mat-icon>
          </mat-form-field>
        
    </mat-card-content>
    <mat-card-content style="height: 9vh;">
        <p style="font-weight: bold; font-size:larger">Hasło</p>
        <mat-form-field appearance="outline">
            <mat-label>Hasło</mat-label>
            <input matInput>
            <mat-icon matSuffix>question_mark</mat-icon>
          </mat-form-field>
    </mat-card-content>
    <mat-card-content class="button-content">
        <button mat-raised-button color="primary" class="button-login">Zaloguj</button>
        <button mat-raised-button class="button-login">Zarejestruj</button>
    </mat-card-content>
</div>
</mat-card> 
