.main-div{
    height: max-content  ;
    width: 80%;
    margin: auto;
    min-height: 100%;
    background: rgb(238, 237, 237);
  }
  .cart-div{
    width: 90vh;
    
  }
  .cart-text{
    font-weight: bold;
  }
  .cart-item{
    height: 3vh;
  }
  .grid-list{
    
    width: 100%;
    
 }
 .mat-grid-cart {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.grid-list{
  align-items: flex-start;
}
.allprize-class{
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
    align-content: space-between;
    flex-wrap: wrap;
    
}
.prize-card{
  width: 100%;
  max-height: 100%;
}
.cart-value{
  font-size: large;
}
.failure-info {
  background-color: red;
  font-size: normal;
  color: white;
  width: 60%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}
